<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fugao.formula">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 判断是否联网 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".FormulaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/milk"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.box.BoxingActivity" />
        <activity android:name=".ui.box.SelectActivity" />
        <activity android:name=".ui.box.SelectBoxActivity" />
        <activity android:name=".ui.box.BoxDetailActivity" />
        <activity android:name=".ui.box.PersonDetailActivity" />
        <activity android:name=".ui.box.AdviceDetailActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".SyncActivity"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Holo.Light.Dialog" />
        <activity
            android:name=".LoginDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/setting_style" />
        <activity android:name=".ui.signSend.SignSendActivity" />
        <activity android:name=".ui.signrReceive.SignReceiveActivity1" />
        <activity android:name=".ui.signrReceive.ReceiveSelectActivity" />

        <service android:name=".wifi.WiFiService" />

    </application>

</manifest>